
// Colors
$color-grey-light: #ccc;
$color-grey: rgb(119, 119, 119);
$color-grey-dark: rgb(85, 84, 84);
$color-black: #333;
$color-black-dark: #222;
$color-white: #fff;
$color-offwhite: #efefef;
$color-blue: #3AB3D5;
$color-blue-light: #bddaf7;
$color-red: #DD4142;
$color-red-light: #fac4cd;
$color-orange: #FA8005;
$color-brown-dark: #53453b;
$color-green: #8BBD26;
$color-yellow: #fcfdcc
